<% if @gardening_diary.errors.any? %>
  <div id="error_explanation">
    <h2 class="alert alert-danger">
      <%= I18n.t("errors.messages.not_saved",
                 count: @gardening_diary.errors.count,
                 resource: @gardening_diary.class.model_name.human.downcase)
       %>
    </h2>
    <ul>
      <% @gardening_diary.errors.full_messages.each do |message| %>
        <li class="devise-error-messages"><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
