// Place all the styles related to the GardeningDiaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/*Flexbox*/
.flexcontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 1.2%;
}

.flexcontainer-lower {
  display: flex;
  justify-content: space-between;
}
/*天気表示テーブル*/

.table-radius{
	border-spacing: 0;
	border-collapse: separate;
  flex-basis: 40%;
}
.table-radius th,.table-radius td{
	border-top: 3px solid #02A21C;
	border-left: 3px solid #02A21C;
	text-align: center;
	vertical-align: middle;
}

.table-radius th > h1 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.table-radius td > h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.table-radius th{
  height: 5px;
	padding: 1px 10px;
	background: #02A21C;
	color: #FFFFFF;
	font-weight: bold;
}
.table-radius tr:nth-child(even) th{
	background: #62BBAB;
}
.table-radius td{
  height: 1px;
	padding: 2px 5px;
	background: #FCFCFC;
	color: #45823E;
}
.table-radius th:last-child,.table-radius td:last-child{
	border-right: 3px solid #02A21C;
}
.table-radius tr:last-child th,.table-radius tr:last-child td{
	border-bottom: 3px solid #02A21C;
}
.table-radius tr:first-child :first-child{
	border-top-left-radius: 50px;
}
.table-radius tr:first-child :last-child{
	border-top-right-radius: 50px;
}
.table-radius tr:last-child :first-child{
	border-bottom-left-radius: 50px;
}
.table-radius tr:last-child :last-child{
	border-bottom-right-radius: 50px;
}
.table-radius tr:not(:first-child) th,.table-radius tr:not(:first-child) td{
	border-top:none;
}

/*検索機能*/

.textlines {
  border: 2px solid #0a0;  /* 枠線 */
  border-radius: 0.67em;   /* 角丸 */
  padding: 0.5em;          /* 内側の余白量 */
  // background-color: snow;  /* 背景色 */
  width: 20em;             /* 横幅 */
  // height: 120px;           /* 高さ */
  font-size: 1em;          /* 文字サイズ */
  color: black;
  line-height: 1.2;        /* 行の高さ */
}

.searchtext {
  border-radius: 0.5em;
  padding: 0.4em;
  background-color: #0a0;
  font-size: 1.2em;
  margin-bottom: 5px;
}