// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.devise-error-messages {
  color: red;
}

/* ユーザー情報テーブル */

.user-table {
  vertical-align: middle;
  text-align: center;
}

/* ユーザー勤怠情報テーブル */

#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

/* ユーザー情報表示テーブル */

.table-user-radius{
	border-spacing: 0;
	border-collapse: separate;
  flex-basis: 40%;
}
.table-user-radius th,.table-user-radius td{
	border-top: 3px solid #0262a2;
	border-left: 3px solid #0262a2;
	text-align: center;
	vertical-align: middle;
}

.table-user-radius th > h1 {
  font-size: 1.8em;
  letter-spacing: -1px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.table-user-radius td > h2 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.table-user-radius th{
  height: 5px;
	padding: 1px 10px;
	background: #0262a2;
	color: #FFFFFF;
	font-weight: bold;
}
.table-user-radius tr:nth-child(even) th{
	background: #62BBAB;
}
.table-user-radius td{
  height: 1px;
	padding: 2px 5px;
	background: #FCFCFC;
	color: #45823E;
}
.table-user-radius th:last-child,.table-user-radius td:last-child{
	border-right: 3px solid #0262a2;
}
.table-user-radius tr:last-child th,.table-user-radius tr:last-child td{
	border-bottom: 3px solid #0262a2;
}
.table-user-radius tr:first-child :first-child{
	border-top-left-radius: 50px;
}
.table-user-radius tr:first-child :last-child{
	border-top-right-radius: 50px;
}
.table-user-radius tr:last-child :first-child{
	border-bottom-left-radius: 50px;
}
.table-user-radius tr:last-child :last-child{
	border-bottom-right-radius: 50px;
}
.table-user-radius tr:not(:first-child) th,.table-user-radius tr:not(:first-child) td{
	border-top:none;
}

/* 入力フォーム */

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

/* ログインフォーム */

.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

/* ログインフォーム */

.label-login {
  margin-top: 5px;
}

.btn-login {
  margin-top: 10px;
}

.checkbox-login {
  width: auto;
  margin-left: 25px;
  span {
    font-weight: normal;
  }
}

/* 基本情報編集モーダルウインドウ */

.label-basic-info {
  margin-top: 5px;
}

.btn-basic-info {
  margin: 15px 0;
  width: 30%;
}

/*モーダル全体の背景設定*/
.modal-content {
  background:green;
}

/*モーダルのbody要素の背景設定*/
.modal-body {
  // background: green;
  // background-image: image-url('Depositphotos_192428086_XL.jpg');
  background-image: image-url('eha0090-002.jpg');
  // background-image: image-url('eha0110-044.jpg');
  background-size: cover;
}

/*モーダルの背景の色※モーダル自体の背景ではない*/
.modal-backdrop {
    background-color: gray;
    opacity: 0.9;
}
