<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Green Thumb", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Top", root_path, id: "logo2" %></li>
        <li><%= link_to "Log in", new_user_session_path, id: "logo3" %></li>
      </ul>
    </nav>
  </div>
</header>